body {
  font-family: "Times", sans-serif;
  background-color: rgb(255, 244, 241);
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 20px;
}

h1,
h2,
h3 {
  color: rgb(0, 0, 0);
}

#sudo_abt {
  margin: 0 300px 0 0;
}

a {
  color: #c57b3a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #d69a6c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #c57b3a;
  transform: translateY(-2px);
}

.navbar {
  background-color: rgb(79, 26, 26);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links a:hover {
  color: rgb(202, 159, 181);
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  padding: 18px;
}

.tile {
  background: white;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 5px solid #1f0202;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.tile.text {
  font-size: 14px;
  letter-spacing: 3px;
  color: #777;
  text-align: center;
}

.tile.text.dark {
  background-color: #777;
  color: white;
  font-size: 13px;
  letter-spacing: 4px;
}

.tile img:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
